
{{define "base"}}
<!doctype html>
<html lang="en">
  {{template "header"}}
  <body>

    {{template "nav"}}

    <div class="container">
      {{with .Flash}}
      <div>{{.}}</div>
      {{end}}
      {{template "main" .}}
    </div>
    {{template "footer" .}}
  </body>
</html>
{{end}}
