{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
<div class="container">
  <div class="page-header">
    <h2>Eyes on the Skies Home page</h2>
  </div>
  <p>Nothing to see yet!</p>
</div>
{{end}}
