{{template "base" .}}

{{define "title"}}Sighting #{{.Sighting.Index}}{{end}}

{{define "main"}}
<div>
  <div>
    <strong>{{.Sighting.City}}, {{.Sighting.State}}</strong>
    <span>#{{.Sighting.Index}}</span>
  </div>
  <div>
    <time>Reported: {{.Sighting.Datetime.Format "Monday, January _2, 2006, 03:04:05 PM"}}</time>
  </div>
</div>
{{end}}
