
{{define "base"}}
<!doctype html>
<html lang="en">
  {{template "header"}}
  {{template "nav" .}}
  <body>
    <div class="container">
        {{with .Flash}}
        <div>{{.}}</div>
        {{end}}
        {{template "main" .}}
    </div>
    <script src="/static/js/main.js" type="text/javascript"></script>
  </body>
</html>
{{end}}
