{{define "footer"}}
<footer class="footer">
  <div class="container">
    <p class="text-center text-muted">Built by Stephen Bell and powered by <a href="https://golang.org">Go</a> in {{.CurrentYear}}</p>
  </div>
</footer>
{{end}}
