{{define "nav"}}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Eyes on the Skies</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/sightings">Sightings</a></li>
        <li><a href="/stats">Statistics</a></li>
        {{if .IsAuthenticated}}
        <li><a href="/report">Report a Sighting</a></li>
        {{end}}
      </ul>
      {{if .IsAuthenticated}}
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>
            <form action="/user/logout" method="POST">
              <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
              <input type="submit" value="Logout">
            </form>
          </a>
        </li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
           <li onclick="redirectPost({{.CSRFToken}})"><a href="">Logout</a></li>
           </ul> -->
      {{else}}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/register">Register</a></li>
        <li><a href="/user/login">Login</a></li>
      </ul>
      {{end}}
    </div>
  </div>
</nav>
{{end}}
