{{template "base" .}}

{{define "title"}}Statistics{{end}}

{{define "main"}}
<div class="container">
  <div class="row my-2">
    <div class="col-md-12 py-1">
      <h2 class="text-center">Sightings by State</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 py-1">
      <div class="card">
        <div class="card-body">
          <canvas id="stateChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-4 py-1">
      <div class="card">
        <div class="card-body">
          <br>
          <br>
          <br>
          <strong>The chart to the left shows the total number of sightings broken down by state. Hover your mouse over the bars to see total counts for each state.</strong>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2 class="text-center">Sightings by Season</h2>
  </div>
  <div class="row">
    <div class="col-md-8">
      <canvas id="seasonChart"></canvas>
    </div>
    <div class="col-md-4">
      <br>
      <br>
      <br>
      <strong>The chart to the left shows the total number of sightings broken down by season. Hover your mouse over the bars to see the total counts for each season.</strong>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2 class="text-center">Latitude and Longitude of Sightings</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="latLongChart"></div>
    </div>
    <div class="col-md-6">
      <div id="clusterChart"></div>
    </div>
  </div>
  <div class="row">
    <strong>The above two graphs show plots of latitude and longitude for all sightings. The left shows the data plotted as is, while the right is the data after running the K-means clustering algorithm. The different colors show the clear distinction in regions while taking into account the latitude, longitude, and season of each sighting. Hover your mouse over the points to see the latitude/longitude pair for each point.</strong>
  </div>
</div>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" type="text/javascript"></script>
<script src="/static/js/visuals.js" type="text/javascript"></script>

{{end}}
